<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qcom.yamba"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.qcom.yamba.permission.REFRESH" />
    <uses-permission android:name="com.qcom.yamba.permission.DATA"/>

    <permission
        android:name="com.qcom.yamba.permission.REFRESH"
        android:protectionLevel="signature" >
    </permission>
    <permission
        android:name="com.qcom.yamba.permission.DATA"
        android:protectionLevel="signature" >
    </permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.qcom.yamba.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.qcom.yamba.StatusActivity"
            android:exported="false"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="com.qcom.yamba.RefreshService"
            android:permission="com.qcom.yamba.permission.REFRESH" >
            <intent-filter>
                <action android:name="com.qcom.yamba.action.REFRESH" />
            </intent-filter>
        </service>

        <provider
            android:name="com.qcom.yamba.StatusProvider"
            android:authorities="com.qcom.yamba.provider"
            android:readPermission="com.qcom.yamba.permission.DATA"
            android:writePermission="com.qcom.yamba.permission.DATA" >
        </provider>
        
        <receiver android:name="com.qcom.yamba.BootReceiver">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        
    </application>

</manifest>